@import "react-input-range/lib/css/index.css";

*,
::after,
::before {
  box-sizing: border-box;
}
.control-detailpage {
  font-family: "Montserrat", helvetica, arial, sans-serif;
  background-color: black !important;
  color: white;
}
.no-nav-bar {
  padding-top: 150px;
  padding-left: 20px;
  padding-right: 20px;
}
.right-side {
  flex-wrap: wrap !important;
  justify-content: space-around !important;
}
.every-card {
  transition: transform ease-in-out 0.8s;
  width: 20vw;
  margin: 20px;
}
.every-card:hover {
  transform: scale(1.1);
}
.photo {
  background-color: black;
}
.infor {
  background-color: rgb(250, 246, 246);
  padding-top: 30px;
  background-color: black !important;
}

.all-in {
  padding: 30px 200px 20px 200px;
  background-color: black !important;
}
.type-film {
  background-color: red;
  color: white;
  border-radius: 15px;
  border: none;
  padding: 5px 10px;
  margin-bottom: 200px;
  font-size: 15px;
}
h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 60px;
  text-transform: uppercase;
}
.imb-icon,
.users-icon {
  font-size: 20px !important;
}
.imb-icon {
  color: orange;
}
.fab,
.far {
  font-weight: 400;
}
.fa,
.fab,
.fad,
.fal,
.far,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.control {
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.movie-title {
  border-bottom: 1px solid white;
}
.overview {
  /* border: 1px solid white; */
  padding: 10px 50px 10px 50px;
}
.mb-3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  transition-timing-function: ease-out !important;
  transition: all 1.5s !important;
  background-color: none;
}
.container-1 {
  position: relative;
  background-color: black;
}
.imb-score {
  padding-left: 10px;
}
.imb-score-1 {
  padding-left: 10px;
  margin-right: 50px;
}
h2 {
  text-decoration: underline;
  font-style: italic !important;
}
h4 {
  font-style: italic;
  padding-bottom: 10px;
}
.comment-review {
  padding: 10px 50px 100px 50px;
  background-color: black;
}
.fa-heart:before {
  content: "\f004";
}
.details-action-icon:hover {
  background-color: red;
}
.details-action-icon {
  border: none;
  margin-left: 70px;
}
.details-action-icon:visited {
  background-color: red;
  border: none;
}
.control-fav-list {
  display: flex;
}
.text-group {
  padding-bottom: 20px;
  border-top: 1px solid white;
  padding-top: 30px;
  font-size: 20px;
}
.button-trailer {
  background-color: green;
  color: white !important;
  font-size: 25px;
  padding: 20px;
  border-radius: 15px;
  border: none;
}
.details-action-icon {
  height: 50px;
  width: 50px;
  border: 0;
  background: #fff1f0;
  border-radius: 50px;
  margin-right: 13px;
  color: #fe4536;
  font-size: 15px;
  line-height: 50px;
}
.breadcrumb {
  background-color: black;
  font-size: 20px;
}

a {
  color: white;
}
a:hover {
  color: pink;
  text-decoration: none;
}
.search-section {
  background-image: url(https://dkr0pu7ej5xex.cloudfront.net/wp-content/uploads/2017/04/24135159/Netflix-Background.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  padding: 300px 200px 400px 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-section:hover {
  visibility: visible;
  opacity: 1;
}
.form-control {
  border-radius: 20px;
  padding: 30px 0px 30px 200px;
}
ul {
  list-style: none;
  margin-top: 50px;
}
.badge-1 {
  background-color: red;
  border-radius: 40px;
  font-size: 30px;
  padding: 20px;
}
.badge-2 {
  background-color: green;
  border-radius: 40px;
  font-size: 30px;
  padding: 20px;
}

.menuside-control {
  display: flex;
  flex-direction: column;
}

.range-filter {
  padding: 30px 0px;
}

.input-range__track--active {
  /* background: #3f51b5; */
  background: white;
}

.input-range__slider {
  -webkit-appearance: none;
  appearance: none;
  background: #3f51b5;
  border: 1px solid #3f51b5;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1rem;
  margin-left: -0.5rem;
  margin-top: -0.65rem;
  outline: none;
  position: absolute;
  top: 50%;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  width: 1rem;
  color: white;
  background-color: white;
  border: none;
}

.input-range__label-container {
  font-weight: bold;
  font-family: sans-serif;
  left: -50%;
  position: relative;
  font-size: 1rem;
  color: white;
}

.menuside-control {
  display: flex;
  flex-direction: column;
  background: black;
}
.link {
  padding-top: 150px;
}
.card-img {
  border: none !important;
}
.pagination {
  display: flex;
  width: 100vw;
  padding-top: 30px;
  padding-bottom: 50px;
}
.drop-down {
  padding-bottom: 100px;
}
.control-fav {
  padding-top: 150px;
}
